/* ========================== ABOUT =========================== */

.about-header {
  height: 300px;
  width: 100%;
  background-image: url(img/about/header.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.about-header div {
  width: 100%;
}

.about-header h1 {
  font-size: 100px;
}

.about-hero-container {
  display: grid;
  font-size: 24px;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 25px 0px;
}

.about-hero-container .about-right {}

.hero-right-title {
  font-size: 40px;
  line-height: 50px;
}

.about-hero-container .about-left {}

.about-right-title {
  font-size: 40px;
  line-height: 60px;
}

.about-header-icon {
  display: none;
}

.about-values .core-values,
.about-mission .core-mission {
  height: 100%;
  /* background-image: url('img/about/web-square2.png');
  background-size: cover; */
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/* .values-title, .mission-title, .vision-title {
  font-size: 50px;
} */

/* ========================== ABOUT SERVICES =========================== */
.about-services {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-section-header {
  display: inline-block;
  padding: 5px 0;
}

.about-section-header h1 {
  font-size: 100px;
}

.about-services-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.about-service-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--primary-grey);
  padding: 1rem 1rem;
}


.service-heading {
  font-size: 36px;
}

.about-service-card p {
  font-size: 24px;
  line-height: 30px;
}

/* ========================== ABOUT VALUES =========================== */

.about-values {
  height: auto;
  display: flex;
  flex-direction: column;
}

.values-header-container {
  display: flex;
  justify-content: center;
}

.values-content {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.values-image {
  display: flex;
  justify-content: center;
  max-height: 400px;
}

.values-text {
  text-align: right;
}
.values-title {
  text-align: right;
}

.values-body {
  font-size: 24px;
  line-height: 35px;
}

/* ========================== ABOUT VISION =========================== */

.about-vision {
  display: flex;
  flex-direction: column;
}

.about-vision-header {
  display: flex;
  justify-content: center;
}

.vision-content {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.vision-image {
  display: flex;
  justify-content: center;
  max-height: 400px;
}
.vision-text {
  text-align: left;
}
.vision-title {
  text-align: left;
}

.vision-body {
  font-size: 24px;
  line-height: 35px;
}

/* ========================== ABOUT MISSION =========================== */
.about-mission {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.mission-content {
  height: auto;
  max-width: 100%;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  gap: 20px;
}
.mission-image {
  display: flex;
  justify-content: center;
  max-height: 400px;

}
.mission-text {
  text-align: center;
}
.mission-title {
  text-align: center;
}

.mission-body {
  font-size: 24px;
  line-height: 35px;
  text-align: center;

}

@media only screen and (max-width: 800px) {
  .about-header {
    height: 200px;
    padding: 10px 5px;
    background-image: url(img/about/header-mobile.png);
  }

  .about-section-header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .about-section-header {
    cursor: pointer;
  }

  .about-header-icon {
    display: block;
  }

  .rotate-about-header-icon {
    transform: rotate(45deg);
    transition: transform .5s ease;
  }

  .about-header-icon img {
    width: 30px;
    height: 30px;
  }

  .about-services-card-container,
  .values-content,
  .vision-content,
  .mission-content {
    max-height: 0;
    overflow: hidden;
  }

  .expanded-services {
    max-height: 100%;
    transition: max-height .5s ease;
  }

  .expanded-values {
    max-height: 100%;
    transition: max-height .5s ease;
  }

  .expanded-vision {
    max-height: 100%;
    transition: max-height .5s ease;
  }

  .about-mission {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }

  .expanded-mission {
    max-height: 100%;
    transition: max-height .5s ease;
  }

  .values-header-container {
    /*justify-content: left;*/
  }

  .about-hero-container {
    grid-template-columns: 1fr;
    padding: 10px;
  }

  .about-hero-container .about-left>p {
    font-size: 22px;
  }

  .about-hero-container .about-right>p {
    font-size: 22px;
  }

  .about-services {
    padding: 10px;
  }

  .about-section-header h1 {
    font-size: 70px;
  }

  .about-services-card-container {
    grid-template-columns: 1fr;
  }

  .service-heading {
    font-size: 30px;
    line-height: 35px;
  }

  .vision-left h1 {
    font-size: 30px;
    line-height: 35px;
    text-align: center;
  }

  .vision-right p {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
  }

  section.about-values {
    height: auto;
  }


  .about-values-content {
    grid-template-columns: 1fr;
    gap: 30px;
    text-align: center;
  }

  .about-values-content p {
    font-size: 24px;
    text-align: center;
  }

  .about-values .core-values h1 {
    font-size: 60px;
    text-align: center;
  }

  .mission-details p {
    font-size: 24px;
    line-height: 30px;
    }


  section.about-vision {
    height: auto;
  }

  .vision-content {
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column-reverse;
  }

  .vision-title {
    text-align: center;
  }

  .vision-text { 
    text-align: center;
  }

  .values-content {
    grid-template-columns: 1fr;
  }

  .values-title {
    text-align: center;
  }

  .values-text { 
    text-align: center;
  }

  .core-values,
  .core-mission-title {
    font-size: 30px;
    line-height: 30px;
  }
}

@media only screen and (max-width: 480px) {
  .about-header {
    padding: 10px 5px;
  }

  .about-hero-container {
    grid-template-columns: 1fr;
    padding: 10px;
  }


  section.about-values {
    height: auto;
  }


  .about-values-content {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .about-values .core-values h1 {
    font-size: 30px;
    text-align: center;
  }


  section.about-vision {
    height: auto;
  }

  .vision-content {
    grid-template-columns: 1fr;
  }

}