/* ========================== ABOUT =========================== */



.about-header {
  height: 300px;
  width: 100%;
  background-image: url(img/about/about-header-blank.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.about-header div {
  width: 100%;
}

.about-header h1 {
  font-size: 100px;
}

.about-hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  padding: 25px 0px;
}

.about-hero-container .about-right {
  grid-column: span 2;
  height: auto;
}

.hero-right-title {
  font-size: 40px;
  line-height: 50px;
}

.about-hero-container .about-left>p {
  font-size: 30px;
  line-height: 40px;
  font-weight: bold;
}

.about-right-title {
  font-size: 40px;
  line-height: 60px;
}

/* ========================== ABOUT SERVICES =========================== */
.about-services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.about-section-header {
  display: inline-block;
  padding: 5px 0;
}

.about-section-header h1 {
  font-size: 100px;
}

.about-services-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.about-service-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.service-heading {
  font-size: 35px;
}

.about-service-card p {
  font-size: 24px;
  line-height: 30px;
}

/* ========================== ABOUT VALUES =========================== */

.about-values {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px;
}

.values-header-container {
  display: flex;
  justify-content: right;
}

.about-values-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.about-values-content p {
  font-size: 30px;
}

.about-values .core-values,
.about-mission .core-mission {
  height: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-values .core-values h1 {
  text-align: right;
  font-size: 60px;
  line-height: 70px;
}

/* ========================== ABOUT VISION =========================== */

.about-vision {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 10px;
}

.vision-cotent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

.vision-left h1 {
  font-size: 60px;
  line-height: 70px;
}

.vision-right {
  grid-column: span 2;
  display: flex;
  align-items: center;
}

.vision-right p {
  font-size: 30px;
  line-height: 35px;
}

/* ========================== ABOUT MISSION =========================== */
.about-mission {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 10px;
  padding-bottom: 30px;
}

.mission-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.core-mission {
  height: auto;
  max-width: 500px;
}

.core-mission-title {
  text-align: center;
  font-size: 50px;
}


.mission-details p {
  text-align: center;
  font-size: 30px;
  line-height: 40px;
}



@media only screen and (max-width: 800px) {
  .about-header {
    height: 200px;
    padding: 10px 5px;
    background-image: url(img/mobile/about-header-blank-200-mobile.png);
  }

  .about-hero-container {
    grid-template-columns: 1fr;
    padding: 10px;
  }

  .about-hero-container .about-left>p {
    font-size: 24px;
    line-height: 30px;
  }

  .about-services {
    padding: 10px;
  }

  .about-section-header h1 {
    font-size: 70px;
  }

  .about-services-card-container {
    grid-template-columns: 1fr;
  }

  .service-heading {
    font-size: 30px;
    line-height: 35px;
  }

  .vision-left h1 {
    font-size: 30px;
    line-height: 35px;
  }

  .vision-right p {
    font-size: 24px;
    line-height: 30px;
  }

  section.about-values {
    height: auto;
  }


  .about-values-content {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .about-values-content p {
    font-size: 24px;
  }

  .about-values .core-values h1 {
    font-size: 60px;
    text-align: center;
  }

  .mission-details p {
    font-size: 24px;
    line-height: 30px;
  }


  section.about-vision {
    height: auto;
  }

  .vision-cotent {
    grid-template-columns: 1fr;
  }

  .core-values,
  .core-mission-title {
    font-size: 40px;
    line-height: 50px;
  }
}

@media only screen and (max-width: 480px) {
  .about-header {
    padding: 10px 5px;
  }

  .about-hero-container {
    grid-template-columns: 1fr;
    padding: 10px;
  }


  section.about-values {
    height: auto;
  }


  .about-values-content {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .about-values .core-values h1 {
    font-size: 60px;
    text-align: center;
  }


  section.about-vision {
    height: auto;
  }

  .vision-cotent {
    grid-template-columns: 1fr;
  }

}


#footer {
  height: 100vh;
  scroll-snap-type: y mandatory;
  scroll-snap-align: start;
  font-size: 1rem;
}