:root {
  --primary-yellow: #ffd633;
  --secondary-yellow: #FFD014;
  --pie-hover: #E6B800;
  /* --main-bg: #fffae4; */
  --main-bg: #fff;
  --main-text: #222;
  --dark-bg: #000;
  --main-white: #fff;
  --icon-color: #4ec2f9;
  --blue-box: #335CFF;
  --shadow: #D1D2F9;
  --main-transition: .2s;
  --main-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: var(--main-text);
  transition: var(--main-transition);
}

a {
  display: block;
}


/* ====================== buttons ==================== */
.btn {
  padding: .75rem 2rem;
  text-align: center;
  border: 2px solid #000;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  color: var(--main-white);
}

.nav-btn {
  padding: .5rem 2rem;
  margin-left: 1rem;
}

.btn-yellow {
  background-color: var(--primary-yellow);
  border: 2px solid #000;
  color: #000;
}

.btn-dark {
  background-color: var(--dark-bg);
  color: var(--main-white);
}

.btn-dark:hover {
  border: 2px solid #000;
  background-color: var(--main-white);
  color: var(--main-text);
  transition: var(--main-transition);
}

/* ====================== body ==================== */
body {
  background-color: var(--main-bg);
}

.font-18 {
  font-size: 18px;
}

.font-22 {
  font-size: 22px;
}

.font-30 {
  font-size: 30px;
}

.weight-600 {
  font-weight: 600;
}

.p-1 {
  padding: 5px;
}

.p-2 {
  padding: 10px;
}

.p-3 {
  padding: 15px;
}

.p-4 {
  padding: 20px;
}

.section-head {
  font-size: 30px;
  font-weight: 600px;
  text-align: center;
  line-height: 60px;
  margin: 2rem auto;
  font-weight: bolder;
}

.img {
  display: block;
  max-width: 100%;
  object-fit: contain;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-end {
  justify-content: end;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}




/* ====================== Nav ==================== */
#header {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 65px;
  background-color: var(--main-bg);
  max-width: 100%;
  box-shadow: 0px 1px 5px 5px rgba(0, 0, 0, 0.1);
}

.nav-container {
  max-width: 100%;
  height: 100%;
}


.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav ul li {
  margin: 0 15px;
}

#nav {
  min-height: 100%;
}

.nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--main-text);
  border-bottom: 2px solid transparent;
  font-size: 18px;
}

.nav ul li a:hover {
  transition: 0.3s;
  color: var(--primary-yellow);
  border-bottom: 2px solid var(--primary-yellow);
}

ul li a:hover i {
  color: var(--primary-yellow);
}

.hideNav {
  display: none !important;
}

#dropdown-btn {
  color: var(--main-text);
}


.dropdown-outer {
  position: relative;
  margin: 25px 0;
}

.dropdown-contents {
  display: none;
  position: absolute;
  top: 25px;
  min-width: 150px;
  border-radius: 5px;
}

@media only screen and (min-width: 1150px) {
  .dropdown-contents {
    background-color: var(--main-bg);
    left: -20px;
    padding-left: 20px;
    box-shadow: var(--main-shadow);
  }

}


.dropdown-contents a {
  margin: 20px 0;
}

.dropdown-outer:hover .dropdown-contents {
  display: block;
}

/* ================= Hamberger Menu ====================== */
#hamberger {
  display: none;
}

#hamberger i {
  font-size: 40px;
  cursor: pointer;
  margin-right: 5px;
}


#crossBtn {
  display: none;
}




/* ==================== Global =============*/

.container {
  max-width: 1500px;
  margin: auto;
}

.container-sm {
  max-width: 640px;
}

/* ================= Hero ====================== */
#hero {
  padding-top: 60px;
}

.hero-welcome {
  height: 300px;
}

.hero-welcome .title {
  font-size: 36px;
  font-weight: 600;
  line-height: 60px;
}

.hero-btn:hover {
  transform: scale(1.03);
}

.card {
  border-radius: 5px;
  box-shadow: 0 20px 25px 5px rgb(0 0 0 / 0.2),
    10px 10px #D1D2F9;
  cursor: pointer;
  margin-right: 20px !important;
}

.card:hover {
  transform: scale(1.02);
}

/* ================= About ====================== */
section#about,
section#token {
  border-bottom: 2px dashed #000;
  padding: 50px 0 150px 0;
  margin-bottom: 3rem;
}

#about {
  margin-bottom: 0;
}

#token {
  padding-top: 0;
}

.token {
  min-height: 100vh;
  border-bottom: none !important;
}

.token .section-head {
  margin-top: 3rem;
}

.about-container,
.token-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.about-card {
  padding-left: 5px;
}

.about-icon i {
  color: #4ec2f9;
  font-size: 3rem;
  margin-bottom: 1rem;
}


.about-title {
  margin: 1rem 0;
  font-size: 22px;
  letter-spacing: 1px;
}

.about-desc {
  line-height: 30px;
  font-size: 16px;
  letter-spacing: .5px;
}

.token-card {
  border: 2px solid black;
  background-color: var(--main-white);
  padding: 1rem 2rem;
}

.token-card-first {
  margin-left: 1rem;
}

.token-card-last {
  margin-right: 1rem;
}

.token-card:hover {
  background-color: var(--main-bg);
  transition: var(--main-transition)
}


.token-card-1-details {
  margin: .5rem 0;
}

.token-card-1-details p i {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 20px;
}

.token-card-1-details .small {
  font-size: 15px;
  letter-spacing: 0;
}

.token-card h2 {
  line-height: 40px;
}

.token-card p span {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 30px;
}

.token-card button {
  margin-top: 3rem;
}

.token-card p span:not(:first-child) {
  margin-left: 1rem;
}

.token-card-heading {
  letter-spacing: 1px;
}

.pie-chart-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.pie-chart {
  justify-self: center;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-color: var(--primary-yellow);
  background: repeating-conic-gradient(from 0deg,
      var(--blue-box) 0deg 180deg,
      var(--secondary-yellow) 180deg 324deg,
      var(--primary-yellow) 324deg 360deg);
  position: relative;
  z-index: 0;
}

.pie-chart::after {
  content: "";
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background-color: var(--main-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.pie-details {
  margin: 10px auto;
  display: flex;
  align-items: center;
}

.pie-details-box {
  height: 35px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border-radius: 5px;
  font-weight: 700;
  flex-grow: 0;
  flex-shrink: 0;
}

.pie-details .blue-box {
  background-color: var(--blue-box);
  color: var(--main-white);
}

.pie-details .primary-yellow-box {
  background-color: var(--primary-yellow);
}

.pie-details .seconday-yellow-box {
  background-color: var(--secondary-yellow);
}

/* ================= Roadmap ====================== */
.roadmap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.roadmap .left {
  height: 100%;
  border-right: 2px dotted #000;
  padding-right: 50px;
}

.roadmap-left-card {
  border: 2px solid black;
  background-color: var(--main-white);
  padding: 50px;
  height: 400px;
  margin-left: 1rem;
  margin-right: 4rem;
  cursor: default !important;
}

.roadmap-left-card-title {
  line-height: 60px;
}

.roadmap-left-card-dec p {
  line-height: 30px;
  font-size: 30px;
}

.newsletter-btn {
  width: 100%;
  margin-top: 1rem;
}

.signup {
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
  height: 51px;
  box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.signup input {
  border: none;
  outline: none;
  color: var(--seconday);
}

.signup input:focus {
  border: none;
}

.signup-btn {
  height: 40px;
  width: 40px;
  border: none;
  background-color: var(--primary-yellow);
  border-radius: 50%;
  cursor: pointer;
}

.signup i {
  font-size: 20px;
}

.roadmap .right {
  padding: 1rem;
}

.roadmap-card {
  display: flex;
  max-height: 400px;
  margin: 2rem 0;
}

.roadmap-year {
  height: 30px;
  width: 30px;
  border-radius: 2px;
  background-color: #335CFF;
  color: var(--main-white);
  margin-right: 1rem;
  flex-shrink: 0;
}

.roadmap-year-title {
  line-height: 30px;
}

.roadmap-year-desc {
  line-height: 30px;
}


/* ================= Team ====================== */
.team {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px
}

.team-card {
  border: 2px solid black;
  background-color: var(--main-white);
  padding: 1rem;
  margin: .5rem;
}

.team-card:hover {
  background: var(--main-bg);
  transition: var(--main-transition);
}

.team-card img {
  object-fit: cover;
}

.team-card-desc {
  margin-top: 1rem;
}

.team-member-name {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
}

.team-member-deg {
  line-height: 25px;
}


/* ================= Contact Us ====================== */
.contact-us {
  padding: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  margin: 3rem auto;
}

.contact-us .texts h1 {
  line-height: 30px;
  margin-top: 1rem;
}

.contact-btns {
  display: flex;
  gap: 2rem;
}

.discord-btn {
  color: var(--main-text);
}

.discord-btn:hover {
  background-color: var(--main-bg);
}

#typed-strings {
  display: none;
}

.typed-cursor {
  color: --main-text;
  font-size: 22px;
}

/* ================= Footer ====================== */

.footer-img-container {
  margin: auto;
}

.footer-content {
  border-top: 2px solid #000;
  margin: auto;
  margin-top: 1rem;
  padding: 1rem 3rem;
}

.footer-content p {
  line-height: 25px;
  margin-right: 1rem;
}



/* ================= Media Queries ====================== */


@media only screen and (max-width: 1150px) {
  #hamberger {
    display: block;
  }

  #header {
    height: 60px;
  }

  .nav {
    background-color: #ffffff;
    width: 200px;
    height: calc(100vh - 60px);
    top: 60px;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    padding: 1rem 0;
  }

  .dropdown-contents {
    padding: 0px 20px;
    top: 20px;
  }


  .dropdown-text {
    display: none;
  }

  .dropdown-contents {
    position: static;
    display: block;
    padding: 0;
    margin: 0;
  }

  .dropdown-contents a {
    margin: 0;
    margin-bottom: 15px;
  }

  .dropdown-contents a:last-child {
    margin-bottom: 0;
  }


  .header-btns {
    flex-direction: column;
  }

  .header-btns button {
    margin-top: 1rem;
  }

  .nav ul {
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    margin-left: 0;
    padding-left: 0;
  }

  .nav ul li:not(:last-child) {
    margin-bottom: 1rem;
  }

  .nav ul li a {
    font-size: 15px;
  }

  .nav button {
    font-size: 15px;
  }

}

@media only screen and (max-width: 500px) {

  .token-card,
  .roadmap-left-card {
    /* width: 300px; */
    padding-left: 10px;
    padding-right: 10px;
  }

  .left {
    padding: 0;
  }

  .contact-quote,
  .contact-quote>* {
    font-size: 16px;
  }
}

@media only screen and (max-width: 800px) {

  #header {
    height: 40px;
  }

  .logo-img {
    height: 30px;
  }

  .nav {
    height: calc(100vh - 40px);
    top: 40px;
  }


  #hamberger i {
    font-size: 30px;
  }

  .about-container,
  .token-card-container {
    grid-template-columns: 1fr;
  }

  .about-card {
    text-align: center;
  }

  .token .section-head {
    margin-top: 1rem;
  }

  .token-card {
    margin: 10px;
  }

  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .about-desc {
    padding: 0 1rem;
    text-align: left;
  }

  .roadmap {
    grid-template-columns: 1fr;
  }

  .roadmap .left {
    justify-content: center;
    border: none;
    padding-right: 0;
  }


  .roadmap .right {
    padding-left: 20px;
  }

  .roadmap-card {
    display: flex;
    max-width: 100%;
    margin: 2rem 0;
  }

  .roadmap-left-card {
    margin: 1rem;
    margin-left: 0;
    padding: 1rem;
  }


  .contact-us {
    padding: 1rem 2rem;
  }

  .contact-us {
    grid-template-columns: 1fr;
  }

  .contact-btns {
    flex-direction: column;
    gap: .8rem;
  }

  .contact-btns button {
    width: 100%;
    margin-top: 0;
  }

}

@media only screen and (max-width: 900px) {
  .team-card-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 500px) {
  .team-card-container {
    grid-template-columns: 1fr;
  }
}